@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap&#39");

*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body a{
    text-decoration: none;
}

p{
    line-height: 1.5;
    color: gray;
}

body,
main,
footer,
figcaption,
form,
main > section,
main > section > article,
main ul,
header > section {
    display: flex;
    flex-direction: column;
}

main,
main > section,
main > section > section,
main > section > article{
    justify-content: center;
}

header > section{
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, .6);
}

header{
    background-image: url("/img/header-bgpic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main article > h3{
    color: gray;
    text-transform: uppercase;
}

main > section:nth-child(odd){
    background-color: ghostwhite;
}

body ul, body ol, 
body h3,body h1,body h2,body h4,body h5,body h6{
    padding: 0;
    margin: 0;
}

@media (min-width:200px){
    main > section{
        width: 80%;
        padding: 10vh 0 10vh 0;
    }

    .features > article,
    .team > article,
    .about > article,
    .contact > article,
    .faq > article,
    .portfolio > article{
        text-align: center;
    }

    /*FEATURES */
    .features aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5vh;
    }

    .features{
        row-gap: 5vh;
    }

    .features aside > p{
        text-align: center;
    }

    .features i{
        background-color: darkorange;
        color: white;
        border: 3px solid darkorange;
        border-radius: 50%;
        height: 15vh;
        width: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    /* Footer */
    footer{
        background-color: rgb(30, 30, 30);
        padding-top: 10vh;
        padding-bottom: 5vh;
        align-items: center;
        row-gap: 2vh;
    }
    footer ul{
        display: flex;
        list-style-type: none;
        column-gap: 5vw;
    }

    footer [class*="fa-"]{
        width: 6vh;
        height: 6vh;
        border: 1px solid whitesmoke;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer a{
        color: whitesmoke;
    }


    footer p{
        color: whitesmoke;
    }

    img{
        width: 15%;
    }

    /* contact */

    main > section[class="contact"]{
        background-color: rgb(45, 45, 45);
    }

    .contact h3{
        font-size: 30px;
        font-weight: 400;
        color: whitesmoke;
    }

    .contact p{
        color: whitesmoke;
    }
    
    .contact ul{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    .contact li{
        display: flex;
        column-gap: 3vw;
        align-items: center;
    }

    .contact i{
        color: darkorange;
    }
    address{
        color: white;
    }
    .contact a{
        color: darkorange;
    }

    .contact li:first-child > a{
        color: whitesmoke;
    }
    .contact > section > article{
        width: 100%;
    }
    .contact{
        row-gap: 10vh;
        width: 100%;
    }
    .contact > section > aside,
    .contact > section{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    form,
    form > section{
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
    }
    
    input, textarea{
        padding: 5%;
        background-color: transparent;
        border: 1px solid darkgrey;
    }

    ::placeholder{
        color: grey;
    }
    
    input[type=submit]{
        width: 60%;
        text-transform: uppercase;
    }

    .contact h4{
        font-size: 30px;
        color: whitesmoke;
        text-transform: uppercase;
    }

    /** contact end**/

    /** portfolio **/

    



}